<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="ua.training"/>
    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="classpath:sql/schema.sql"/>
        <jdbc:script location="classpath:sql/test-data.sql"/>
    </jdbc:embedded-database>

    <!-- JDBC -->
    <!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
        <!--<constructor-arg ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="org.h2.Driver"/>-->
        <!--<property name="url" value="jdbc:h2:/home/nikita/IdeaProjects/spring-training/spring.jdbc/src/main/resources/test-db"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--<property name="password" value=""/>-->
    <!--</bean>-->
    <!--<bean id="contactDao" class="ua.training.model.dao.JdbcContactDao" p:dataSource-ref="dataSource"/>-->
</beans>